p{
    color: white;
}

.header{
    text-align: center;
    width: 74%;
}

.info{
    display: flex;
    justify-content: space-around;
    height: 60%;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.input-capsule{
    height: 80px;
    margin-bottom: 5px;
}


.input-capsule:nth-child(4){
    margin-bottom: 30px;
}

@media (max-width:1400px) {
    input {
        width: 210px;
    }
}

@media (max-width: 1100px) {
    
    input {
        width: 100px;
    }
}




