p{
    color: white;
}

.header{
    text-align: center;
    width: 74%;
}

.info{
    display: flex;
    justify-content: space-around;
    height: 60%;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.input-capsule{
    height: 150px;
}

